<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Blushelys - User Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="/admin-css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/admin-css/animation.css">
    <link rel="stylesheet" type="text/css" href="/admin-css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/admin-css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/admin-css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Font -->
    <link rel="stylesheet" href="/admin-font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="/admin-icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/images/logo/blushley-png-without-shade.png">
    <link rel="apple-touch-icon-precomposed" href="/images/logo/blushley-png-without-shade.png">
    
  
</head>

<body class="body">

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
            <div class="layout-wrap loader-off">
                <!-- preload -->
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                <!-- /preload -->
                
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="/admin/dashboard" id="site-logo-inner">
                            <img style="width:60px;" id="logo_header" alt="logo" src="/images/logo/blushley-png-without-shade.png"
                                data-light="/images/surya-logo.png" data-dark="/images/surya-logo.png">
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-chevron-left"></i>
                        </div>
                    </div>
                    <div class="section-menu-left-wrap">
                        <div class="center">
                            <div class="center-item">
                                <ul>
                                    <li class="menu-item">
                                        <a href="/admin/dashboard">
                                            <div class="icon">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M12.2652 3.57566C12.1187 3.42921 11.8813 3.42921 11.7348 3.57566L5.25 10.0605V19.8748C5.25 20.0819 5.41789 20.2498 5.625 20.2498H9V16.1248C9 15.0893 9.83947 14.2498 10.875 14.2498H13.125C14.1605 14.2498 15 15.0893 15 16.1248V20.2498H18.375C18.5821 20.2498 18.75 20.0819 18.75 19.8748V10.0605L12.2652 3.57566ZM20.25 11.5605L21.2197 12.5302C21.5126 12.8231 21.9874 12.8231 22.2803 12.5302C22.5732 12.2373 22.5732 11.7624 22.2803 11.4695L13.3258 2.51499C12.5936 1.78276 11.4064 1.78276 10.6742 2.515L1.71967 11.4695C1.42678 11.7624 1.42678 12.2373 1.71967 12.5302C2.01256 12.8231 2.48744 12.8231 2.78033 12.5302L3.75 11.5605V19.8748C3.75 20.9104 4.58947 21.7498 5.625 21.7498H18.375C19.4105 21.7498 20.25 20.9104 20.25 19.8748V11.5605ZM13.5 20.2498H10.5V16.1248C10.5 15.9177 10.6679 15.7498 10.875 15.7498H13.125C13.3321 15.7498 13.5 15.9177 13.5 16.1248V20.2498Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Admin Dashboard</div>
                                        </a>
                                    </li>
                                    
                                    <li class="menu-item">
                                        <a href="/admin/categories" class="menu-item-button">
                                            <div class="icon"><i class="icon-folder"></i></div>
                                            <div class="text">Category Management</div>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/admin/products" class="menu-item-button">
                                            <div class="icon"><i class="icon-shopping-bag"></i></div>
                                            <div class="text">Product Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin/beautyTips" class="menu-item-button">
                                            <div class="icon"><i class="icon-shopping-bag"></i></div>
                                            <div class="text">beautyTip Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin/reseller_products" class="menu-item-button">
                                            <div class="icon"><i class="icon-heart"></i></div>
                                            <div class="text">Sellers Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin/orders" class="menu-item-button">
                                            <div class="icon"><i class="icon-shopping-cart"></i></div>
                                            <div class="text">Order Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item active">
                                        <a href="/admin/coupons" class="menu-item-button">
                                            <div class="icon"><i class="icon-tag"></i></div>
                                            <div class="text">Coupon Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="/admin/bookings" class="menu-item-button">
                                            <div class="icon"><i class="icon-calendar"></i></div>
                                            <div class="text">Booking Management</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin/saloon" class="menu-item-button">
                                            <div class="icon"><i class="icon-scissors"></i></div>
                                            <div class="text">Salons Management</div>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/admin/freelance" class="menu-item-button">
                                            <div class="icon"><i class="icon-users"></i></div>
                                            <div class="text">Freelance Management</div>
                                        </a>
                                    </li>

                                    <li class="menu-item active">
                                        <a href="/admin/users" class="menu-item-button">
                                            <div class="icon"><i class="icon-users"></i></div>
                                            <div class="text">User Management</div>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/admin/banner" class="menu-item-button">
                                            <div class="icon"><i class="icon-image"></i></div>
                                            <div class="text">Banner Management</div>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/admin/testimonials" class="menu-item-button">
                                            <div class="icon"><i class="fa fa-star-o"></i></div>
                                            <div class="text">Testimonials Management</div>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/admin/blogs" class="menu-item-button">
                                            <div class="icon"><i class="icon-book-open"></i></div>
                                            <div class="text">Blogs Management</div>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/logout">
                                            <div class="icon">
                                                <svg width="24" height="22" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8.125 18.6875C8.125 18.903 8.0394 19.1097 7.88702 19.262C7.73465 19.4144 7.52799 19.5 7.3125 19.5H1.625C1.19402 19.5 0.780698 19.3288 0.475951 19.024C0.171205 18.7193 0 18.306 0 17.875V1.625C0 1.19402 0.171205 0.780698 0.475951 0.475951C0.780698 0.171205 1.19402 0 1.625 0H7.3125C7.52799 0 7.73465 0.0856026 7.88702 0.237976C8.0394 0.390349 8.125 0.597012 8.125 0.8125C8.125 1.02799 8.0394 1.23465 7.88702 1.38702C7.73465 1.5394 7.52799 1.625 7.3125 1.625H1.625V17.875H7.3125C7.52799 17.875 7.73465 17.9606 7.88702 18.113C8.0394 18.2653 8.125 18.472 8.125 18.6875ZM19.2623 9.17516L15.1998 5.11266C15.0474 4.9602 14.8406 4.87455 14.625 4.87455C14.4094 4.87455 14.2026 4.9602 14.0502 5.11266C13.8977 5.26511 13.812 5.47189 13.812 5.6875C13.812 5.90311 13.8977 6.10989 14.0502 6.26234L16.7263 8.9375H7.3125C7.09701 8.9375 6.89035 9.0231 6.73798 9.17548C6.5856 9.32785 6.5 9.53451 6.5 9.75C6.5 9.96549 6.5856 10.1722 6.73798 10.3245C6.89035 10.4769 7.09701 10.5625 7.3125 10.5625H16.7263L14.0502 13.2377C13.8977 13.3901 13.812 13.5969 13.812 13.8125C13.812 14.0281 13.8977 14.2349 14.0502 14.3873C14.2026 14.5398 14.4094 14.6255 14.625 14.6255C14.8406 14.6255 15.0474 14.5398 15.1998 14.3873L19.2623 10.3248C19.3379 10.2494 19.3978 10.1598 19.4387 10.0611C19.4796 9.9625 19.5006 9.85678 19.5006 9.75C19.5006 9.64322 19.4796 9.5375 19.4387 9.43886C19.3978 9.34023 19.3379 9.25062 19.2623 9.17516Z"
                                                        fill="#111111" />
                                                </svg>
                                            </div>
                                            <div class="text">Log out</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /section-menu-left -->
                
                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">
                                <a href="/admin/dashboard">
                                    <img style="width: 50px;" id="logo_header_mobile" alt="" src="/images/surya-logo.png"
                                        data-light="/images/surya-logo.png" data-dark="/images/surya-logo.png">
                                </a>
                                <div class="button-show-hide">
                                    <i class="icon-chevron-left"></i>
                                </div>

                            </div>
                            <div class="header-grid">
                                <div class="header-item button-dark-light">
                                    <i class="icon-moon"></i>
                                </div>

                                <div class="header-item button-zoom-maximize">
                                    <div class="">
                                        <i class="icon-maximize"></i>
                                    </div>
                                </div>
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="image">
                                                    <img src="/images/logo/blushley-png-without-shade.png" alt="">
                                                </span>
                                                <span class="flex flex-column">
                                                    <span class="body-text text-main-dark">Blushelys</span>
                                                    <span class="text-tiny">Admin</span>
                                                </span>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end has-content"
                                            aria-labelledby="dropdownMenuButton3">

                                            <li>
                                                <a href="#" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-headphones"></i>
                                                    </div>
                                                    <div class="body-title-2">Support</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/logout" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-log-out"></i>
                                                    </div>
                                                    <div class="body-title-2">Log out</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->
                    
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- main-content-wrap -->
                        <div class="main-content-inner">
                            <!-- main-content-wrap -->
                            <div class="main-content-wrap">
                                <div class="flex items-center flex-wrap justify-between gap20 mb-30">
                                    <h3>User Management</h3>
                                    <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                                        <li>
                                            <a href="/admin/dashboard">
                                                <div class="text-tiny">Dashboard</div>
                                            </a>
                                        </li>
                                        <li>
                                            <i class="icon-chevron-right"></i>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="text-tiny">Users</div>
                                            </a>
                                        </li>
                                        <li>
                                            <i class="icon-chevron-right"></i>
                                        </li>
                                        <li>
                                            <div class="text-tiny">User Management</div>
                                        </li>
                                    </ul>
                                </div>
                                
                                <!-- user-list -->
                                <div class="wg-box">
                                    <div class="title-box">
                                        <i class="icon-users"></i>
                                        <div class="body-text">Tip: Manage all users. You can view user details, make users staff, remove staff, or block/unblock users as needed.</div>
                                    </div>

                                    <div class="flex items-center justify-between gap10 flex-wrap">
                                        <form class="wg-filter flex-grow" method="get" id="user-filter-form" style="width:100%;">
                                            <div class="show">
                                                <div class="text-tiny">Showing</div>
                                                <div class="select">
                                                    <select id="limit-select" name="limit" onchange="this.form.submit()">
                                                        <option value="10" <% if (query && query.limit == 10) { %>selected<% } %>>10</option>
                                                        <option value="20" <% if (!query || !query.limit || query.limit == 20) { %>selected<% } %>>20</option>
                                                        <option value="30" <% if (query && query.limit == 30) { %>selected<% } %>>30</option>
                                                    </select>
                                                </div>
                                                <div class="text-tiny">entries</div>
                                            </div>
                                            <div class="form-search">
                                                <input type="text" id="search-input" name="q"
                                                    placeholder="Search by name, email, or phone..." value="<%= query && query.q ? query.q : '' %>">
                                                <button type="submit" id="search-btn"><i class="icon-search"></i></button>
                                            </div>
                                            <div class="date-filter">
                                                <div class="text-tiny">From:</div>
                                                <input type="date" id="start-date" name="start" value="<%= query && query.start ? query.start : '' %>">
                                                <div class="text-tiny">To:</div>
                                                <input type="date" id="end-date" name="end" value="<%= query && query.end ? query.end : '' %>">
                                                <button class="btn btn-secondary" id="apply-date-filter" type="submit">
                                                    <i class="icon-filter"></i> Apply
                                                </button>
                                            </div>
                                            <button class="download-btn" type="button"
                                                onclick="window.location.href='/admin/api/users/download?q=<%= encodeURIComponent(query&&query.q?query.q:'') %>&start=<%= encodeURIComponent(query&&query.start?query.start:'') %>&end=<%= encodeURIComponent(query&&query.end?query.end:'') %>';">
                                                <i class="icon-download"></i> Download List
                                            </button>
                                        </form>
                                    </div>

                                    <div class="users-container" id="users-list" style="overflow-x:auto;">
                                        <% if (users && users.length > 0) { %>
                                            <div class="users-table-responsive">
                                                <table class="table table-hover table-users" style="min-width: 900px;">
                                                    <thead>
                                                        <tr>
                                                            <th style="min-width:40px; width:4%;">#</th>
                                                            <th style="min-width:90px; width:12%;">Name</th>
                                                            <th style="min-width:220px; width:22%;">Email</th>
                                                            <th style="min-width:110px; width:14%;">Phone</th>
                                                            <th style="min-width:80px; width:10%;">Role</th>
                                                            <th style="min-width:75px; width:8%;">Verified</th>
                                                            <th style="min-width:80px; width:10%;">Wallet</th>
                                                            <th style="min-width:140px; width:16%;">Joined</th>
                                                            <th style="min-width:200px; width:14%;">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% users.forEach(function(user, idx) { %>
                                                            <tr class="user-row">
                                                                <td><%= ((page - 1) * (query && query.limit ? parseInt(query.limit) : 20)) + idx + 1 %></td>
                                                                <td><%= user.name || '--' %></td>
                                                                <td style="word-break: break-all;"><%= user.email || '--' %></td>
                                                                <td><%= user.phone %></td>
                                                                <td><span class="tag tag-small"><%= user.role %></span></td>
                                                                <td>
                                                                    <% if (user.isVerified) { %>
                                                                        <span class="text-success">Yes</span>
                                                                    <% } else { %>
                                                                        <span class="text-danger">No</span>
                                                                    <% } %>
                                                                </td>
                                                                <td><span class="tag"><%= user.wallet && typeof user.wallet.balance !== 'undefined' ? user.wallet.balance : 0 %>₹</span></td>
                                                                <td>
                                                                    <% if (user.createdAt) { %>
                                                                        <%= new Date(user.createdAt).toLocaleString() %>
                                                                    <% } else { %>
                                                                        --
                                                                    <% } %>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-xs btn-light view-user" data-id="<%= user._id %>" title="View"><i class="icon-eye"></i></button>
                                                                    <button class="btn btn-xs btn-light more-actions" data-id="<%= user._id %>" title="More"><i class="icon-more-vertical"></i></button>
                                                                    <% if (user.role !== 'admin' && user.role !== 'superadmin') { %>
                                                                        <% if (user.role !== 'staff') { %>
                                                                            <button 
                                                                                class="btn btn-xs btn-primary make-staff"
                                                                                data-id="<%= user._id %>"
                                                                                title="Promote to Staff"
                                                                                style="margin-left:5px;"
                                                                                type="button"
                                                                                onclick="makeUserStaff('<%= user._id %>', this)"
                                                                            >
                                                                                <i class="icon-user-plus"></i> Staff
                                                                            </button>
                                                                        <% } else { %>
                                                                            <span class="tag tag-info" style="margin-left:5px;">Staff</span>
                                                                            <button
                                                                                class="btn btn-xs btn-danger remove-staff"
                                                                                data-id="<%= user._id %>"
                                                                                title="Remove Staff"
                                                                                style="margin-left:5px;"
                                                                                type="button"
                                                                                onclick="removeStaffRole('<%= user._id %>', this)"
                                                                            >
                                                                                <i class="icon-user-x"></i>
                                                                            </button>
                                                                        <% } %>
                                                                        <% if (!user.isBlocked) { %>
                                                                            <button
                                                                                class="btn btn-xs btn-warning block-user"
                                                                                data-id="<%= user._id %>"
                                                                                title="Block"
                                                                                style="margin-left:5px;"
                                                                                type="button"
                                                                                onclick="blockUser('<%= user._id %>', this)"
                                                                            >
                                                                                <i class="icon-user-slash"></i> Block
                                                                            </button>
                                                                        <% } else { %>
                                                                            <button
                                                                                class="btn btn-xs btn-success unblock-user"
                                                                                data-id="<%= user._id %>"
                                                                                title="Unblock"
                                                                                style="margin-left:5px;"
                                                                                type="button"
                                                                                onclick="unblockUser('<%= user._id %>', this)"
                                                                            >
                                                                                <i class="icon-user-check"></i> Unblock
                                                                            </button>
                                                                        <% } %>
                                                                    <% } %>
                                                                </td>
                                                            </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        <% } else { %>
                                            <div class="centered" style="padding:40px 0; text-align:center;">No users found for your criteria.</div>
                                        <% } %>
                                    </div>

                                    <div class="divider"></div>
                                    <div class="flex items-center justify-between flex-wrap gap10">
                                        <div class="text-tiny" id="showing-entries">
                                            <% if (users && users.length > 0) { %>
                                                Showing <%= ((page - 1) * (query && query.limit ? parseInt(query.limit) : 20)) + 1 %> to <%= ((page - 1) * (query && query.limit ? parseInt(query.limit) : 20)) + users.length %> of <%= total %> entries
                                            <% } else { %>
                                                Showing 0 entries
                                            <% } %>
                                        </div>
                                        <ul class="wg-pagination" id="pagination">
                                            <% if (totalPages && totalPages > 1) { 
                                                function listPages (page, totalPages) {
                                                    let arr = [];
                                                    for (let i = 1; i <= totalPages; i++) {
                                                        if (
                                                            i === 1 ||
                                                            i === totalPages ||
                                                            (i >= page - 2 && i <= page + 2)
                                                        ) arr.push(i);
                                                        else if (arr.length && arr[arr.length-1] !== null) arr.push(null);
                                                    }
                                                    return arr;
                                                }
                                                const pages = listPages(page, totalPages);
                                                if (page > 1) { %>
                                                    <li><a href="?<%= Object.entries({...query, page: page - 1}).map(([k,v])=> `${encodeURIComponent(k)}=${encodeURIComponent(v)}`).join('&') %>">&lt;</a></li>
                                                <% }
                                                pages.forEach(function(p){
                                                    if (p === null) { %>
                                                        <li><span>...</span></li>
                                                    <% } else if (p === page) { %>
                                                        <li class="active"><span><%= p %></span></li>
                                                    <% } else { %>
                                                        <li><a href="?<%= Object.entries({...query, page: p}).map(([k,v])=> `${encodeURIComponent(k)}=${encodeURIComponent(v)}`).join('&') %>"><%= p %></a></li>
                                                    <% }
                                                });
                                                if (page < totalPages) { %>
                                                    <li><a href="?<%= Object.entries({...query, page: page + 1}).map(([k,v])=> `${encodeURIComponent(k)}=${encodeURIComponent(v)}`).join('&') %>">&gt;</a></li>
                                            <% } 
                                            } %>
                                        </ul>
                                    </div>
                                </div>
                                <style>
                                    .users-table-responsive {
                                        width: 100%;
                                        overflow-x: auto;
                                    }
                                    .table-users thead th,
                                    .table-users tbody td {
                                        vertical-align: middle;
                                        white-space: normal;
                                        word-break: break-word;
                                    }
                                    .table-users th,
                                    .table-users td {
                                        padding: 10px 8px;
                                        font-size: 14px;
                                    }
                                    @media (max-width: 1200px) {
                                        .table-users th,
                                        .table-users td {
                                            font-size: 13px;
                                            padding: 8px 4px;
                                        }
                                    }
                                    @media (max-width: 960px) {
                                        .users-table-responsive {
                                            min-width: 0;
                                            max-width: 100vw;
                                        }
                                        .table-users {
                                            min-width: 700px;
                                        }
                                    }
                                    @media (max-width: 700px) {
                                        .users-table-responsive,
                                        .users-container {
                                            padding: 0;
                                        }
                                        .table-users {
                                            min-width: 500px;
                                        }
                                    }
                                    @media (max-width: 600px) {
                                        .table-users thead {
                                            display: none;
                                        }
                                        .table-users, .table-users tbody, .table-users tr, .table-users td {
                                            display: block;
                                            width: 100%;
                                        }
                                        .table-users tr {
                                            margin-bottom: 1rem;
                                            border-bottom: 1px solid #eaeaea;
                                            background: #fff;
                                        }
                                        .table-users td {
                                            position: relative;
                                            padding-left: 20%;
                                            text-align: left;
                                            min-height: 35px;
                                            border: none;
                                            border-bottom: 1px dashed #efefef;
                                        }
                                        .table-users td::before {
                                            position: absolute;
                                            left: 10px;
                                            width: 38%;
                                            white-space: nowrap;
                                            font-weight: bold;
                                            color: #444;
                                            font-size: 13px;
                                            top: 0;
                                            content: attr(data-label);
                                        }
                                        .table-users td:last-child {
                                            border-bottom: none;
                                        }
                                    }
                                </style>
                                <script>
                                // Make table accessible in mobile: add data-label attribute
                                (function () {
                                    function refreshLabels() {
                                        if (window.innerWidth <= 600) {
                                            document.querySelectorAll('.table-users tbody tr').forEach(function(row) {
                                                var labels = [
                                                    "#","Name","Email","Phone","Role","Verified","Wallet","Joined","Actions"
                                                ];
                                                row.querySelectorAll('td').forEach(function(td,i){
                                                    td.setAttribute('data-label', labels[i]);
                                                });
                                            });
                                        }
                                    }
                                    window.addEventListener('resize', refreshLabels);
                                    window.addEventListener('DOMContentLoaded', refreshLabels);
                                })();

                                // AJAX: Make user staff
                                function makeUserStaff(userId, btn) {
                                    if (!userId) return;
                                    if (!confirm('Are you sure you want to make this user a staff?')) return;
                                    btn.disabled = true;
                                    btn.classList.add('disabled');
                                    var icon = btn.querySelector('i');
                                    if (icon) icon.className = "icon-spinner spinner";
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('PUT', '/admin/make-staff/' + encodeURIComponent(userId), true);
                                    xhr.setRequestHeader('Content-Type', 'application/json');
                                    xhr.onreadystatechange = function() {
                                        if (xhr.readyState === XMLHttpRequest.DONE) {
                                            if (xhr.status === 200) {
                                                try {
                                                    var resp = JSON.parse(xhr.responseText);
                                                    if (resp.success) {
                                                        location.reload();
                                                    } else {
                                                        alert(resp.message || 'Failed to promote user to staff');
                                                    }
                                                } catch(e) {
                                                    alert('Failed to promote user to staff');
                                                }
                                            } else {
                                                var msg = 'Failed to promote user to staff';
                                                try {
                                                    var json = JSON.parse(xhr.responseText);
                                                    if (json && json.message) msg = json.message;
                                                } catch(e){}
                                                alert(msg);
                                            }
                                            btn.disabled = false;
                                            btn.classList.remove('disabled');
                                            if (icon) icon.className = "icon-user-plus";
                                        }
                                    };
                                    xhr.send();
                                }

                                // AJAX: Remove staff role
                                function removeStaffRole(userId, btn) {
                                    if (!userId) return;
                                    if (!confirm('Are you sure you want to remove staff privileges from this user?')) return;
                                    btn.disabled = true;
                                    btn.classList.add('disabled');
                                    var icon = btn.querySelector('i');
                                    if (icon) icon.className = "icon-spinner spinner";
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('PUT', '/admin/remove-staff/' + encodeURIComponent(userId), true);
                                    xhr.setRequestHeader('Content-Type', 'application/json');
                                    xhr.onreadystatechange = function() {
                                        if (xhr.readyState === XMLHttpRequest.DONE) {
                                            if (xhr.status === 200) {
                                                try {
                                                    var resp = JSON.parse(xhr.responseText);
                                                    if (resp.success) {
                                                        location.reload();
                                                    } else {
                                                        alert(resp.message || 'Failed to remove staff role');
                                                    }
                                                } catch(e) {
                                                    alert('Failed to remove staff role');
                                                }
                                            } else {
                                                var msg = 'Failed to remove staff role';
                                                try {
                                                    var json = JSON.parse(xhr.responseText);
                                                    if (json && json.message) msg = json.message;
                                                } catch(e){}
                                                alert(msg);
                                            }
                                            btn.disabled = false;
                                            btn.classList.remove('disabled');
                                            if (icon) icon.className = "icon-user-x";
                                        }
                                    };
                                    xhr.send();
                                }

                                // AJAX: Block user
                                function blockUser(userId, btn) {
                                    if (!userId) return;
                                    if (!confirm('Are you sure you want to block this user?')) return;
                                    btn.disabled = true;
                                    btn.classList.add('disabled');
                                    var icon = btn.querySelector('i');
                                    if (icon) icon.className = "icon-spinner spinner";
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('PUT', '/admin/block-user/' + encodeURIComponent(userId), true);
                                    xhr.setRequestHeader('Content-Type', 'application/json');
                                    xhr.onreadystatechange = function() {
                                        if (xhr.readyState === XMLHttpRequest.DONE) {
                                            if (xhr.status === 200) {
                                                try {
                                                    var resp = JSON.parse(xhr.responseText);
                                                    if (resp.success) {
                                                        location.reload();
                                                    } else {
                                                        alert(resp.message || 'Failed to block user');
                                                    }
                                                } catch(e) {
                                                    alert('Failed to block user');
                                                }
                                            } else {
                                                var msg = 'Failed to block user';
                                                try {
                                                    var json = JSON.parse(xhr.responseText);
                                                    if (json && json.message) msg = json.message;
                                                } catch(e){}
                                                alert(msg);
                                            }
                                            btn.disabled = false;
                                            btn.classList.remove('disabled');
                                            if (icon) icon.className = "icon-user-slash";
                                        }
                                    };
                                    xhr.send();
                                }

                                // AJAX: Unblock user
                                function unblockUser(userId, btn) {
                                    if (!userId) return;
                                    if (!confirm('Are you sure you want to unblock this user?')) return;
                                    btn.disabled = true;
                                    btn.classList.add('disabled');
                                    var icon = btn.querySelector('i');
                                    if (icon) icon.className = "icon-spinner spinner";
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('PUT', '/admin/unblock-user/' + encodeURIComponent(userId), true);
                                    xhr.setRequestHeader('Content-Type', 'application/json');
                                    xhr.onreadystatechange = function() {
                                        if (xhr.readyState === XMLHttpRequest.DONE) {
                                            if (xhr.status === 200) {
                                                try {
                                                    var resp = JSON.parse(xhr.responseText);
                                                    if (resp.success) {
                                                        location.reload();
                                                    } else {
                                                        alert(resp.message || 'Failed to unblock user');
                                                    }
                                                } catch(e) {
                                                    alert('Failed to unblock user');
                                                }
                                            } else {
                                                var msg = 'Failed to unblock user';
                                                try {
                                                    var json = JSON.parse(xhr.responseText);
                                                    if (json && json.message) msg = json.message;
                                                } catch(e){}
                                                alert(msg);
                                            }
                                            btn.disabled = false;
                                            btn.classList.remove('disabled');
                                            if (icon) icon.className = "icon-user-check";
                                        }
                                    };
                                    xhr.send();
                                }
                                </script>
                                <!-- /user-list -->

                                <!-- /main-content-wrap -->
                            </div>
                            <!-- /main-content-wrap -->
                        </div>
                        <!-- /main-content-wrap -->
                        
                        <!-- bottom-page -->
                        <div class="bottom-page">
                            <div class="body-text">Copyright © 2025 <a href="">Blushelys</a>.
                                Design by Trivlogic Private Limited All rights reserved</div>
                        </div>
                        <!-- /bottom-page -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

    <!-- Javascript -->
    <script src="/admin-js/jquery.min.js"></script>
    <script src="/admin-js/bootstrap.min.js"></script>
    <script src="/admin-js/bootstrap-select.min.js"></script>
    <script src="/admin-js/zoom.js"></script>
    <script src="/admin-js/switcher.js"></script>
    <script defer src="/admin-js/theme-settings.js"></script>
    <script defer src="/admin-js/main.js"></script>

</body>

</html>